
<h1> Your Orders </h1>
<table class="book-list">
  <tr>
    <th>id</th>
    <th>Total Price</th>
    <th>Date</th>
    <th></th>
  </tr>
  <tr *ngFor="let order of orders">
    <td>{{order.id}}</td>
    <td>{{order.total_price}}</td>
    <td>{{order.created_at| date: 'dd/MM/yyyy HH:mm'}}</td>
    <td><button [routerLink]="['/order', order.id]">Details</button></td>
  </tr>
</table>
<style>

  .book-list {
    border-collapse: collapse;
    width: 100%;
    margin-top: 20px;
  }

  .book-list th,
  .book-list td {
    padding: 12px 15px;
    text-align: left;
    vertical-align: middle;
  }

  .book-list th {
    background-color: #efefef;
  }

  .book-list td {
    border-bottom: 1px solid #ddd;
  }

  .book-list td:last-child {
    text-align: center;
  }

  .book-list button {
    border: none;
    background-color: #4CAF50;
    color: white;
    padding: 8px 16px;
    border-radius: 4px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
  }
</style>
